@import '../style/mixin.scss';

// field通用样式

.textArea {
  width: 100%;
  height: px2rem(74);
	border: none;
	&.mint-cell
		&:last-child{
			background-image: none;
		}
  &:focus {
    outline: none;
	}
	.mint-cell-wrapper{
		background-image: none;
		.mint-field-core {
			color: #9f9f9f;
			font-size: px2rem(14);
			resize: none;
			&::placeholder {
				color: #9f9f9f;
				font-size: px2rem(14);
			}
		}
	}
}

textarea:disabled {
  background-color: #fff;
}

input:disabled {
  background-color: #fff;
}

.checkDetail{
	width: 100%;
	height: 100%;
}

//左右结构的展示内容
.definite-field {
	width: 100%;
	background-color: #fff;
	border-top: px2rem(1) solid rgba(229, 229, 229, 1);
	.item {
		width: 100%;
		// height: px2rem(44);
		// line-height: px2rem(44);
		padding: px2rem(15);
		display: flex;
		justify-content: flex-start;
  	align-items: center;
		font-size: px2rem(14);
		box-sizing: border-box;
		border-bottom: px2rem(1) solid rgba(229, 229, 229, 1);
		&.item-textarea {
			border: none;
			padding: 0;
		}
		.tag {
			flex: 0 0 px2rem(140);
			text-align: left;
			color: #090909;
			&.big{
				flex: 0 0 px2rem(190);
			}
			&.big-max{
				flex: 0 0 px2rem(280);
			}
		}
		.arrow {
			font-size: px2rem(14);
			color: #848484;
			margin-left: px2rem(3);
		}
		.info {
			flex: 1;
			text-align: right;
			color: #9f9f9f;
			.pay-type {
				width: 100%;
				height: px2rem(145);
				background-color: #fff;
				.item {
					width: 100%;
					height: px2rem(44);
					border-bottom: px2rem(1) solid rgba(229, 229, 229, 1);
					text-align: center;
					font-size: px2rem(14);
					justify-content: center;
					align-items: center;
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}

//带蓝条的大标题
.definite-1-title {
	width: 100%;
	height: px2rem(45);
	line-height: px2rem(45);
	padding: 0 px2rem(9);
	display: flex;
	.colum-blue {
		height: px2rem(17);
		@include columnBlue;
	}
	.title {
		color: #090909;
		font-size: px2rem(15);
		margin-left: px2rem(4);
	}
}

//不带蓝条的黑色标题，一般与.definite-smalltitle 配合使用
.definite-1-title2 {
	width: 100%;
	height: px2rem(37);
	line-height: px2rem(37);
	font-size: px2rem(15);
	padding-left: px2rem(17);
	box-sizing: border-box;
	@include fontColorBlack;
}

//蓝色小标题
.definite-smalltitle {
	width: 100%;
	padding-left: px2rem(16);
	box-sizing: border-box;
	@include fontColorBlue;
	font-size: px2rem(14);
	display: flex;
	.colum-blue {
		height: px2rem(14);
		@include columnBlue;
		margin-right: px2rem(5);
	}
}

@mixin lineHeight44 {
	width:100%;
	height:px2rem(44)
	
}
@mixin lineHeight74 {
	width:100%;
	height:px2rem(74)
	
}

//input
.field-input{
	border: none;
  height: px2rem(16);
  width: 100%;
	text-align: right;
	color:#9F9F9F;
	font-size: px2rem(14);
	// line-height: 1;
	// margin-bottom: px2rem(-20);
	&:focus{
		outline: none;
	}
	&::placeholder{
		color:#9F9F9F;
		font-size: px2rem(14);
		line-height:  px2rem(16);
	}
	&::-webkit-input-placeholder{
    line-height: normal ;
	}
}

//图片上传
.image-upload-uploader{
	.van-uploader__preview-image{
		width: px2rem(59);
		height: px2rem(59);
	}
	.van-uploader__upload{
		width: px2rem(59);
		height: px2rem(59);

	}
}

// dropdown
.dropdown89 {
  .van-dropdown-menu__bar {
    height: px2rem(31);
    border-top-left-radius: px2rem(3);
    border-top-right-radius: px2rem(3);
    background-color: rgba(78, 120, 222, 0.81);

    .van-dropdown-menu__item {
      flex: none;
      width: 100%;
      .van-dropdown-menu__title {
        color: #fff;
        font-size: px2rem(14);
        line-height: px2rem(31);
        width: 100%;
        &::after {
          right: px2rem(10);
        }
      }
    }
  }
}

//添加的大按钮
.add-primary {
  width: 100%;
  &.mint-button--primary {
    background-color: #4e78de;
  }
}